VITE_WEBSITE_MODE=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_DEBUG_MODE=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_OWM_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_SPOTIFY_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_UNSPLASH_ACCESS_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_GOOGLE_DESKTOP_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_GOOGLE_DESKTOP_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxx
VITE_PHOTOS_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx