header {
	color: #e1e0e4;
	display: flex;
	justify-content: center;
	font-family: 'Saira Extra Condensed', sans-serif;
	height: 100vh !important;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
	font-display: fallback !important;
}

.main-area {
	text-transform: uppercase;
	line-height: 1 !important;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-webkit-user-drag: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.main-area>#nepalimiti {
	font-weight: bold;
	font-size: 9vw;
}

.main-area>#date-today {
	font-weight: bold;
	font-size: 6vw;
}

.main-area>#live-time {
	font-size: 12.5vw;
}

.bgimg {
	background-image: url(/img/background.webp);
	background-size: cover;
	background-position: center;
}

.bgimg.replace {
	background-image: url("data:image/webp;base64,UklGRkgQAABXRUJQVlA4TDsQAAAvecAQAA11IaL/Ad/atqduddvW+0mlFDPE4aQyY2Num+002m47S+bWev+ZsTKFE8eO7QL6LlvSJ/kMfEmSrNq2bVvqpbbaOk9mhr+51sp/YphhMI9GtbgvSZJV27ZtyyxK6zAZFq/1vfKfKWYe0FqrYQFRktWwTSdOiCSjx+OB3PYPNjoAAbDfnHVEECDM3x0kczQCgDkEHw0VEIEmCCgIVAAA8JAyAAABBWAgoAAcAABiABwAxgKLXedtIHmCIB+EM27vIwCMueFAgFwUzrgTjzPOAAjzdRYsFQYHKhwABJQ5XhsnwQaFAKAwOABoKI6FgMYRZfHy41xc8gvwL3Gc4O/ChIWxhofERuq8Ax4YDgC6iCBAEwQAQAFQLH4LwE4xARQOEALA4MjgIIQX2MWhk+EmyPUEAAAAAPOkeS8IgEAvRGGX+YBjuhnhCEAAj6hxhmYgAgcRMBoSwFh8saQGcuuE4xsQEwp/euG5cnFA2Jy6EToLvHWWJocpjhAPACocUUgcURAgKhxAauhy9IJwteARLIdubTsjszvXkiujRVadCCFYcEGsMOFgEHi3l5cmE1hOEGgmANBCUTY++2PgZ9fCXgxKoUMMJuQIyq4PuLG3eNmAiB4bc//etAFhAdCl3sfqIOcAcJTjEggW3nzqHdslRvTjfogYGM5Cd9reKs25xWUtMWHinBBTwJ3nTYTqgwiFbvE5Qg4tY3iGY3p58jbwSbQ5caccNzKtTFg3E467UKRi11hkxHXuefX07CCQLC82mzchfV5WvFE/RruIBM4X+dgEe1G7QdN2OdDDb5dL1SVZcSmbcyAJTd7F5s7fy+uUXkjCSyouBuRXkFsDvuEO2BC9ZhQWjMd78II8RAKNgTid4Dw52Uk/eKd+fcNzJ9zoSySQbh+DRSF6DzdOcXKeTXEPCBbG4hHUJ4nQwRnkVmbOg+KfP7A+ElEA4dzKLWXRwefOhBUuca7h6cihJvRl0bacN1FqTOeQCIcpbRia9jPo7OPB8pAG2ldQU4IfGYi9S85FdCNxx7x0WuJgYRatQp4RPnxxBAh0XAnidX248QfoEpXmBSLo3HVmxQELstwObm91m6YnAS+TPmuCI2edG6LjQ1agADP2FnmdLX9vvVh5TlhRJ7sbnTTuVdIcZqQlRhnaSYADCzJIoLuR2EKE1FgZeI1NMlzvEFPwu+ipEXkRwAsiDtxqd4QYnuGqQdKlHIsBQWTUyRLD6VsSCcGTKSBNbzB4kNg9mIBoeMNyGYVy6HZp34rqIFYpYqTOgSik0tOb16pgQQaDBIA2Y95wRB8UagkizP06HIuyihlzD8HIwnbXeqxa6lggBIAeJQJQwa2HlcSEIJYYnlN9kYXgvMck19e9VEnzZ1KbOxYBmE+FA/CVDFpgsAtUYjf3vgmaj9gr5E9W8SLh/qlhFcMCCCzS4vY568K9Dh6ISWCwnF8SonqFf8Wd5oJzsUqltZ5Lj4D5Q7PdiQWSBIsNBDDsCewJL5x7h/ZgMYSTFRSEMCx6t9S6Rx/Lg7pokQ4RkmpDVgSc4Cq/j0RlfNG3gp5idCqpKli9QYJjpqUmIvcVSeoRT6tRjgLzy1qxB7XHe6huhWeQ+PPVE1FMnCEfgTxFwRJxRbDm9TBJp+IpHRSUdKKEWIrKaphjiV5vVGR1MSZ2oyj5SlYUlUEHHoE+m7FURI95D2wRMc41GEroQpWRJ3uAzXBwwkAcYmkmVAXyWosuAEUmNbKlCrF4UfiwJFrFmciK8VqBvD6iSuIWRDIi8xZ3T1Sth4Uhh7W4ZAUFCnDZipxLMvKMkDeLkUagNYQZDXIpHSWhhhJF+7JWaE9xuzApUbe6inFpCdMqqV/S4jK9a4nG6gjBWxpU+zyOiJMjiMfRcxy+Zdq4S6Wo46WoCZZOdDbDevPNuOeUYHL9Ez22AzkMxicyprziUS3+rLhE8Vi9hej0j8aIh1HrJ4jP6Y2xhAjg4w2PqQilOfoTuYnwowqFCs4GSasiABAIzh/OAIE+PcvaZBmJhtCaSFKkkyWoq4jmbv90pwuQFiMDgCM1gAB0T9fFeorgYFGNaIIDsnG5mq8+Fzevw+sDcpCreCkxO/leipE4pNzapz1fBwKwVa5HbbWPj3J/K4KLxMTmZTvH59n1TeNiGaB+3juPPrw6PfNPv1RFza2W0z1fF7spg4lOPu2TyPIL4ko1vgRYNANqp6cqyfkqF9X5yt49svf35OY22Q2QbatnDgeT3YzXc+nR/zXP7l/2Ht7Suc1Xn5ov/3f468+z42Pw+nHz0f/PHl5LMKWQpCw6R9OScXmHUVyCXL2q7SKq0j88x2o9/4BtEYvrM7x6MUi3bbx/nN2/uUDH+1M7PG7847/3/vivG4/+t//Bu3n63/bbf1aLlFl/8enNZ1+eribb5uuRcbpBuN+WanTOynl3WOITJd22XIYjR33eal6dd/eD/am9+lQtJ797qdabWaZ+eman5/Tq5tM2u3rJDo/esw+7Tz80337O3j1WXvwtOTzz25enn3+Z39zS01Wst1Ae3dqI6J3ygSF0a8YSlHCgsvL+kS9Od6MPj9npwtv7yuvPyfnByI5PXk7r9WdOk/1tth4HDZVkronVsLi6Jafn919/feUvf+6++O/p7af03b354qPKqPOFWKwT0SXczus3kNhTx5HiUh2sWBzvpnl87rz6XC6TDGaHT3z32n77n9rJi49/aL/8/+T2bXr9Uu2Ox4OJ9cuS8jFmf2scH09++83qf/+z8e/frTz6u1lej777sVxH7aYdJiwRPgGFKlucTm4kYm6XqiIxQYhqN9V2Ze/vrePVnE4/fJ/evp18+dPNxx9GNzN+eMd6eHd8YGZ4sU522da7e+P4vLi9Vbtz9PU33/7ht5t//8vRdz/MHt4wpGWouNjnOQu3Bqk/uJdtch68Ze6atyMvDxUai+nDmTxQHk96fpAFxzeMPn7n/dHLJC2PPk2I5Xqy7TKz+tv74PWn0/vX2d3b3k8/z+9fN6/uOze9PLyO62SeKPL8ZzyhwnwmfSacIhAGorhSo0a8dff4/rzT9+qxs/dNPnw7/vZ7c/eK1WqQTROW8jF1pFfIljXpFtuolH/0hV6qX3kxb3lVA0p5J7JQHaWFuZjv4v1ry2BxyCx7fI7i21DfN3jo9GK+ObscZZPd6IBWmUpCPBehuXukY49Or/k4Sv218UwPThxdZuRSmQi0dh9xsXeDrzn7W5nBwoxVh19wiCgHp1t9PFevnus31/R4a+xDbIw9344KoFjm03lKcjVRA+C09XDH2YvzTZWZgyI2Zq9UnAa+6CQRcpv3F+fNQFBSzBevB5XTTLNtDLJxpamazqZlVaCQdSGJlIr55VQB4MqtMtjkgZmjkYCRogQVRIJqiNQIBEQCgRqiaghUCAQCgSKJAFowIIFAUlAFgSMVBAIFKgRqFKlRtP8/pILgxEWFA0hiAAAIoXAw5IIIoXDgxgQYBhxQDDlQS2B4eTt5KdIwTQQAVUWcOaAGAkEBgECblySz3rM+TVqSSWLa/d3lLaOyumikkUM100xDCoUkUsmCKioo6cZRZTUYCgYABd2IplBQ0KhKEVRICqkkQyFBgUoYNmZ/ML/PGKSlhjKUzcSkUaxaCQzTwo1hhMggVm0KFRi6jpGHNGLGnNZyOOwmIUVZRjiZZKMaM5zopNbUYAffWirN2Ci7c77LGgAAF616SoYQJs0BNSZBicjBTAZ1Z5p3hyOAYo4KVyf1VmVepG1uqTF2zxx3H+Rs5EL9DikvjVa1z6H60/ZSo81wMq0tpk23acgnOvRxEUY1CY1W6lQMhXooVNZJyMrppNKRCijuJV2PVAym5ThNa3chnY1jY9LhuU7SYECYle+VDC6HtJun97Barg2rsXpOll72OtJARdLpf7NZ+KE5s1y/SDvUGIev9C77s87z1K31WOeFAABQBKvGYCgpKHFAYLH06Np2S8rRQgEF0oSMYyWchNM01KuQtcMyDqfZ1zyfHYQG3iptp/Ug3S3DlmOMlxp3NQ/DMQ9SNyiM4vN2ZA9SgRdAaw40z7uJOWw9lOGwvkSSqOR6gyeh0SoUONLTrmJV3oU7FXxSKOmCcBqHSlAPzTos3+DvM627ZiV+3871p24tk7ZOeKb/c6UclDqe2gQNrnc0/y+r2cOlOR0eWAMA0GBUFQAMqkDgUEYIpb/fep2GoUoQalTqlsnwQoTVSQ0v1Kqt9DCealh0WNd65lkr0Ak36wSfVd264caYL2xZE+zGJH5fDRi3eFimFWGTCm9YFY1tc6CX5nXtkMqedCbVIOxpv2RhDYP4BtxM3CiEFnbDRejEGvvlZbYRtRrOo/jOroPQ7ZDZyPm0V4Vr9nrinvdcLa6EJk/K97bPBgZxUPZHnVoTQqeknGnxYwvfEAUBhUHSy/YCSp4263Hicm0yGdTrflotW9Tl61TgIXbHjqdfYCM+SC29q2tYwa/DZb3AlbY+7GEU13AFvdjFNGyghzIOMAuvtwbDLkrdaWfshzqGsZoUqSfD03KrmwwbvIRN3E5Z0HicvTeY4XRwY1qBcanpOIoHCbGLJoZprMSs1DSNw7pTtlINpJ2VwX540VWkkg7HABmM/TTqqmZgzAxNNnliAY3BtgamEBBIXLkADMMkc307o3Q04jZDr74LecjKDJpfJcYU7ban/9RyNgvb5sOmSx4JLfx/+VvKy4AfdlMWYVo38a0STnTO7/C8q3EeaPhJNw3UNDU/kWozXuJ3yBqHp7iu92cUKpzyyzoKUEZdqrA9YaQ4qacjagVudL5WOVANvN15P/s3+9cyyPy40yn1+iqr8bd2nSnf2AzfzL3pZNpXgr3urTlf5BopxToHnQ4bbX3bQmtz8sJQqAoKEirEMKxdRl+mCoVKEWtxqGaZhg5MBOrU3VVOMEGqrTgo3y2kra4rrDAqhGa6X5+E44pyK3b1rMyYaAfDcNw49rlSetFMithFrTSqKkloxl12TddcC726FSsq7WC7ngGspxRTXIlrlXALN2iKCpfjgc5UVzZmFTf44zEtmMrQcTP26lp4yBo3+dpeYqIW++ZYqyUNGVqZmbqoQZc6atyc7ocn6xgABgocUTgxUYi9qlVLK0yqCee20ErZGnL5Kul2o/Ui8L626qOk8UVNZje4lU34DMN2N1QqbR99XR1koWybaWwGsdn66McMSunY66kZWhigjCONuKoGRuyrrXbUaRXD2EESKhQ8w3YAy7YnAHoTtmMNhZ5jgl5Y62LweWgoqzWONAlJPVIeimg0TaN02E1BOO81FUNHYJimYhg0CNSqiR+vcqxge50pgKkAo1k69SwcJCMG0dhancTPNFXB3fIkFK0IjAz/hml5aHBf/2sVZ9Hwf1CtiLNy23mvW5FDfdLiWWKUuFRfBRZ0wYyfggK3Nhvxn9JgnvFJGWfJGD0yH88mSbGF+/hLS2HQMwwm+MfGYtypEzxPKCo86rxncwApf9tpcmP63tgnXY2Mt8yHro8tcQVb9avsU6uwVrvlJKxwJkpZaZWjLAUuBgwEVQAA")
}

@keyframes bounceIn {
	0% {
		transform: scale(0.4);
		opacity: 0;
	}
	60% {
		transform: scale(0.6);
		opacity: 1;
	}
	100% {
		transform: scale(1);
	}
}

div {
	animation-duration: 1.3s;
	animation-name: bounceIn;
}