/* LATIN FONTS - SAIRA EXTRA CONDENSED */

@font-face {
	font-family: 'Saira Extra Condensed';
	font-style: normal;
	font-weight: 500;
	src: local('Saira ExtraCondensed Medium'), local('SairaExtraCondensed-Medium'), url('../fonts/saira-extra-condensed-v5-latin-500.woff2?v=1.0.0.0') format('woff2'), url('../fonts/saira-extra-condensed-v5-latin-500.woff?v=1.0.0.0') format('woff');
}

@font-face {
	font-family: 'Saira Extra Condensed';
	font-style: normal;
	font-weight: 700;
	src: local('Saira ExtraCondensed Bold'), local('SairaExtraCondensed-Bold'), url('../fonts/saira-extra-condensed-v5-latin-700.woff2?v=1.0.0.0') format('woff2'), url('../fonts/saira-extra-condensed-v5-latin-700.woff?v=1.0.0.0') format('woff');
}