@import url("../src/assets/css/fonts.css");

:root {
  --gradient: linear-gradient(#131416, #202125, #18191B, #121315, #1C1D21, #141517, #161719);
  --white: #e1e0e4;
  --gray: #bebebe;
  --yellow: #ffc107;
}

html,
body {
  user-select: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  margin: 0 !important;
  background: var(--gradient);
  font-family: sans-serif;
}

#fullscreen {
  background: var(--gradient) center / cover;
  height: 100vh;
  animation: highres 1s forwards;
}

.clock-area {
  color: var(--white);
  text-transform: uppercase;
  line-height: 1 !important;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: bounce 1s;
}

.clock-area #nepalimiti {
  font-weight: 600;
  font-size: 9vw;
}

.clock-area #datetoday {
  font-weight: 700;
  font-size: 6vw;
}

.clock-area #liveclock {
  font-weight: 500;
  font-size: 12vw;
}

@keyframes bounce {
  from {
    transform: scale(0.5);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes highres {
  from {
    background: var(--gradient);
  }

  to {
    background-image: url(assets/img/bg.webp);
  }
}

.setting-icon {
  position: absolute;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' fill='%23bebebe' viewBox='0 0 16 16'%3E%3Cpath d='M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492M5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0'%3E%3C/path%3E%3Cpath d='M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115z'%3E%3C/path%3E%3C/svg%3E") no-repeat center / contain;
  right: 0;
  width: 26px;
  height: 26px;
  cursor: pointer;
  margin: 20px 24px;
  transition: transform 0.3s ease-in-out;
}

.setting-icon:hover {
  opacity: 0.8;
  transform: rotate(45deg);
}

.settings-popup {
  position: absolute;
  top: 55px;
  right: 25px;
  width: 160px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px;
  display: none;
  border-radius: 10px;
}

.settings-popup.visible {
  display: flex;
  flex-direction: column;
  gap: 13px;
  justify-content: space-between;
}

.settings-popup select {
  background-color: var(--gray);
  border-radius: 5px;
  padding: 4px;
  width: 100%;
}

.settings-popup div {
  display: flex;
  flex-direction: column;
  gap: 3.5px;
}

.settings-popup div>label {
  color: var(--gray);
  font-size: 14px;
}