@import url("../src/assets/css/fonts.css");

:root {
  --gradient: linear-gradient(#131416,
      #202125,
      #18191B,
      #121315,
      #1C1D21,
      #141517,
      #161719);
}

html,
body {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  margin: 0px !important;
  background: var(--gradient);
}

#fullscreen {
  background: var(--gradient);
  background-position: center;
  background-size: cover;
  height: 100vh;
  animation-duration: 1s;
  animation-name: highres;
  animation-fill-mode: forwards;
}

.clock-area {
  font-family: "Saira Extra Condensed", sans-serif;
  color: #e1e0e4;
  text-transform: uppercase;
  line-height: 1 !important;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation-duration: 1s;
  animation-delay: 0.6s;
  animation-name: bounce;
}

.clock-area #nepalimiti {
  font-weight: 700;
  font-size: 9vw;
}

.clock-area #datetoday {
  font-weight: 700;
  font-size: 6vw;
}

.clock-area #liveclock {
  font-weight: 500;
  font-size: 12vw;
}

@keyframes bounce {
  from {
    transform: scale(0.5);
    transition: ease-in;
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
    transition: ease-out;
  }
}

@keyframes highres {
  from {
    background: var(--gradient);
    transition: ease-in;
  }

  to {
    background-image: url(assets/img/bg.webp);
    transition: ease-out;
  }
}